# This file must be used as a template for the .env.development and .env.production files.
#
# Copy this file and save it as .env and then set the correct values for each
# property listed here. The .env file MUST be listed on the .gitignore file.
#
# The following link has a good tutorial on how to use environment variables with webpack
# https://prateeksurana.me/blog/using-environment-variables-with-webpack/
#

# The base API endpoint to which requests are made
BASE_URL=

# The flag that defines if a mocked API is in use, i.e., JSON files are used to simulate a REST API response. When set
# to 'true', the suffix '.json' will be added to all endpoints.
IS_MOCKED_API=

# The base API endpoint for the live results requests
LIVE_RESULTS_BASE_URL=
